{% extends 'base.html.twig' %}

{% block body %}

<div id="superBloc">
<div class="container blocHome">

    <div class="row">
        <div class="col-0 col-sm-0 col-md-0 col-lg-0 col-xl-0"></div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 diagrammeBloc">
            <h1 class="titre1Pokemon">POKEMON-MANY</h1>
            <h2 class="titre2Pokemon">UML Diagramme de classe</h2>
            <img src="{{ asset('build/images/diagramme.png') }}" class="img-fluid diagram"/>
        </div>

        <div class="col-0 col-sm-0 col-md-0 col-lg-0 col-xl-0"></div>
    </div>

</div>

</div>
{% endblock %}
